.contact {
    padding-top: 100px;

    &__top {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px dashed #e6e6e6;

        a {
            padding-right: 15px;
            text-decoration: none;
            color: #789629;
            font-size: 12px;

            i {
                padding-left: 5px;
            }
        }

        .active {
            color: #737373;

            &:hover {
                color: #789629;
            }
        }
    }

    h1 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    &__content {
        justify-content: space-between;

        &-map {
            iframe {
                width: 100%;
                height: 100%;
            }
        }

        &-form {
            padding: 20px;

            h3 {
                padding-bottom: 10px;
                font-weight: 600;
                text-align: center;
            }

            .form__group {
                display: flex;
                justify-content: space-between;
                padding: 20px 0;

                label {
                    font-weight: 700;
                    font-size: 14px;
                }

                input,
                textarea {
                    padding: 5px;
                    width: 70%;
                    border: 1px solid #555;
                    color: #212121;
                    font-size: 14px;
                    outline: none;
                    resize: none;
                }
            }

            .form__btn {
                text-align: right;

                button {
                    font-size: 15px;
                    padding: 10px 15px;
                    background-color: black;
                    color: white;
                    box-shadow: none;
                    transition: all 500ms;

                    &:hover {

                        background-color: #789629;
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 976px) {}