.error {
    text-align: center;

    &_img {
        width: 80%;
        margin: auto;
        padding: 5rem 0;
    }

    &_title {
        line-height: 50px;
        font-size: 30px;
        color: #212121;
        margin-bottom: 30px;
    }

    form {
        position: relative;
        width: 50%;
        margin: auto;

        input {
            position: relative;
            width: 100%;
            border-radius: 50px;
            border: 1px solid #212121;
            padding: 0.75rem 2rem;
            color: #737373;
            font-size: 14px;
            outline: none;
            resize: none;
        }

        i {
            position: absolute;
            bottom: 30%;
            right: 4%;
        }
    }

    &_menu {
        padding: 30px 0;
        justify-content: center;
        align-items: center;

        a {
            padding: 0 30px;
            text-decoration: none;
            color: #212121;
        }

        &-contact {
            border-right: 1px solid #212121;
        }
    }
}